---
layout: extra
title: Ouverture du petit fablab de paris
mapbox: ok
tile: mapbox://styles/mapbox/streets-v9
mlng: 2.391934
mlat: 48.855000
zoom: 17
mapillary: ok
mly_pkey: qTfbBM92Wrx2LNELoprtXw
---

{% include where.html %}
<center>
  <h2>Fab-Lab Parisien</h2>
  <h4>
    Dédiées aux membres qui souhaitent développer leurs projets personnels
    ou de participer aux projets collaboratifs.
  </h4>
</center>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-sm-8">
        {% include jk_mapbox.html mb_tile=page.tile %}
      </div>
      <div class="col-sm-4">
        <p>
          <center>
            <h2>Ouverture libre</h2>
            <p>
              <i class="fa fa-clock-o"></i>
              <b>Du lundi au Vendredi:</b><br>
               Libre au FabManager d'ouvrir aux besoins.<br>
               <center>voir calendrier</center>
               <br>
              <i class="fa fa-clock-o"></i>
              <b>Du Samedi au Dimanche:</b><br>
               14h00 - 18h00 "Portes Ouvertes au public"<br>
            </p>
            <p>
              <b>Adr:</b> {{ site.adr }}<br>
              <b>email:</b> {{ site.email }}<br>
              <b>tel:</b> {{ site.tel }}
            </p>
            <hr>
            <a href="#" class="btn btn-info btn-raised btn-lg project-link"
            role="button">Atelier ouvert aux publiques<br>Inscription Newsletters</a>
          </center>
        </p>
      </div>

    </div>
  </div>
</div>

<div>
  <center>
    <a href="#" class="btn btn-info btn-raised btn-lg project-link"
    role="button" onclick="history.go(-1)">Retour vers le site</a><br>
  </center>
</div>

<div class="modal fade" id="mapIllary" role="dialog">
  <div class="modal-dialog">
    <div class="modal-body">
      {% include jk_mapillary.html %}
    </div>
  </div>
</div>
