<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 text-center">
        <hr>
        <center><h3>Partager votre projet d'atelier avec nous!</h3></center>
      </div>
    </div>
    <form method="POST" action="http://formspree.io/{{ site.mail }}">
      <div class="col-xs-8 text-center">
        <input name="email" placeholder="mon@email.fr" type="email"><br>
        <div>
          <input type="hidden"  name="_subject" value="Nouvelle proposition d'atelier!">
          <input type="text" name="_gotcha" style="display:none" />
        </div>
        <br>
        <textarea name="message"
        placeholder="Votre proposition par message avec lien du document"
        cols="35" rows="4"></textarea><br>
        <button type="submit" class="btn btn-success btn-lg">envoyer une proposition</button>
      </div>
    </form>
  </div>
</section>
