<!-- Custom Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="{{ "./static/fonts/brainflower/stylesheet.css" | prepend: site.baseurl }}">
<!-- Core BootStrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Material Design CSS -->
<link rel="stylesheet" href="{{ "./static/css/bootstrap-material-design.min.css" | prepend: site.baseurl }}">
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ "./static/css/syntax.css" | prepend: site.baseurl }}">
<!-- owl.carousel CSS -->
<link rel="stylesheet" href="{{ "./static/css/owl.carousel.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "./static/css/owl.theme.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "./static/css/owl.transitions.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "./static/css/car.css" | prepend: site.baseurl }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ "./static/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "./static/css/projects.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "./static/css/timeline.css" | prepend: site.baseurl }}">
