<!-- Begin MailChimp Signup Form -->
<br>
<p>
  <form action="//lepetitfablabdeparis.us14.list-manage.com/subscribe/post?u=a1e7a5338e44ee5aea22927a9&amp;id=acbb278cdd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="form-control-static email" size="50" id="mce-EMAIL" placeholder="adresse email" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_a1e7a5338e44ee5aea22927a9_acbb278cdd" tabindex="-1" value="">
    </div>
    <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-raised btn-lg project-link">
  </form>
</p>
<br>
<hr>
<!--End mc_embed_signup-->
