<!-- Begin MailChimp Signup Form -->
<br>
<p>
  <form action="https://{{ site.mc.cname }}.{{ site.mc.domain }}.list-manage.com/subscribe/post?u={{ site.mc.hash }}&amp;id={{ site.mc.list_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" novalidate>
    <input type="email" value="" name="EMAIL" class="form-control-static email" size="50" id="mce-EMAIL" placeholder="adresse email" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_{{ site.mc.hash }}_{{ site.mc.list_id }}" tabindex="-1" value="">
    </div>
    <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-raised btn-lg project-link">
  </form>
</p>
<br>
<hr>
<!--End mc_embed_signup-->
