<!-- Begin MailChimp Signup Form -->
<br>
<p>
  <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="form-control-static email" size="50" id="mce-EMAIL" placeholder="adresse email" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_f6549234f52f2dbcad439bbab_7b4946def5" tabindex="-1" value="">
    </div>
    <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-raised btn-lg project-link">
  </form>
</p>
<br>
<hr>
<!--End mc_embed_signup-->
