{% if page.mapillary %}
<div id="mly"></div>
{% endif %}

{% if page.mapillary %}
<script>
var mly = new Mapillary.Viewer(
  'mly',
  '{{ site.token.mapillary }}',
  {% if include.mly_pkey %}
  '{{ include.mly_pkey }}',
  {% else %}
  '{{ page.mly_pkey }}',
  {% endif %}
  {
    "cover": true,
    "renderMode": Mapillary.RenderMode.Fill,
    "basePanoramaSize": Mapillary.ImageSize.Size640,
    "baseImageSize": Mapillary.ImageSize.Size640,
    "maxImageSize": Mapillary.ImageSize.Size640,
  }
);
</script>
{% endif %}
