<div id="mapbx" class="leafmap"></div>

<script>
{% if page.mapbox %}
mapboxgl.accessToken = '{{ site.token.mapbox }}';
var mapbx = new mapboxgl.Map({
  container: 'mapbx',
  {% if include.mb_tile %}
  style: '{{ include.mb_tile }}',
  {% else %}
  style: 'mapbox://styles/mapbox/outdoors-v9',
  {% endif %}
  center: [{{ page.mlng }}, {{ page.mlat }}],
  zoom: {{ page.zoom }},
  scrollZoom: false,
  attributionControl: false
  });

var nav = new mapboxgl.Navigation({position: 'bottom-right'});
mapbx.addControl(nav);

var drive = new mapboxgl.Directions({
  position: 'top-right',
  unit: 'metric',
  controls: {
    inputs: true,
    instructions: false
  },
});
mapbx.addControl(drive);

mapbx.on('load', function() {
  // drive.setOrigin([{{ page.mlng }}, {{ page.mlat }}]);
  drive.setDestination([2.391801, 48.854942]);
});
{% endif %}

{% if page.mapillary and page.mly_pkey %}
var mly_pkey = '{{ page.mly_pkey}}';
var mapiClientId = '{{ site.token.mapillary }}';
mapbx.on('style.load', function (e) {
  // console.log(e.style.sprite);
  var host = 'https://a.mapillary.com/v2/';
  var mlyreqim = 'im/';
  var mapyim = host + mlyreqim + mly_pkey + '/geojson?client_id=' + mapiClientId;
  $.get(mapyim, function (resp) {
    console.log(resp.features[0]);
    mapbx.setCenter([
      {{ page.mlng }},
      {{ page.mlat }}
    ]);

    resp.features.forEach(function(marker) {
      var el = document.createElement('div');
      el.className = 'pkey-sbig';
      // el.style.WebkitTransform = 'rotate(' + marker.properties.ca + 'deg)';
      el.addEventListener('click', function() {

        $("#mapIllary").modal()
        function MapResize() {
          mly.resize();
        }
        $("#mapIllary").on('shown.bs.modal', function () {
          mly.resize();
        });
      });

      new mapboxgl.Marker(el, {
        // rotate: marker.properties.ca,
        offset: [
          -26 / 2,
          -33 / 2
        ]
      })
      .setLngLat([
        {{ page.mlng }},
        {{ page.mlat }}
      ])
      .addTo(mapbx);
    });
  });
});
{% endif %}
</script>
