<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/6f42233734.js"></script>
<!-- custom -->
<script src="{{ "./static/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/projects.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/timeline.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/rainbowize.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/owl.carousel.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/car.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/toc.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./static/js/main.js" | prepend: site.baseurl }}"></script>
