<section id="cd-timeline" class="cd-container">
  {% for i in site.data.timeline %}
  <div class="cd-timeline-block">
    {% if i.nature %}
    <div class="cd-timeline-img cd-{{ i.nature }}">
      {% endif %}
      {% if i.icon %}
      <i class="fa {{ i.icon }} fa-3x" aria-hidden="true"></i>
      {% else %}
      <!-- blank -->
      {% endif %}
    </div>

    <div class="cd-timeline-content">

      <!-- option modale -->
      <div class="modal fade panel-body" id="moreInfoTime" role="dialog">
        <div class="modal-dialog">
          <div class="modal-body">
            <!-- {{ i.add }} add jquery to embd template -->
          </div>
        </div>
      </div>
      <!-- end modal -->

      {% if i.titre %}
      <b>{{ i.titre }}</b>
      {% endif %}
      {% if i.fyi %}
      <p>{{ i.fyi }}</p>
      {% if i.add %}
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
      data-target="#moreInfoTime">Open Modal</button>
      {% endif %}
      {% endif %}
      {% if i.date %}
      <span class="cd-date">{{ i.date }}</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
