<br>
<div class="container">
  <div class="row">

    <div class="col-xs-3 avatar2">
      <a class="" target="_blank" href="http://thingiverse.com/lpfp">
        <img src="{{ site.baseurl }}static/img/thingiverse.png" class="">
      </a>
    </div>
    <div class="col-xs-3 avatar2">
      <a class="" target="_blank" href="http://instructables.com/lpfp">
        <img src="{{ site.baseurl }}static/img/instructsbles.png" class="">
      </a>
    </div>
    <div class="col-xs-3 avatar2">
      <a class="" target="_blank" href="https://www.fablabs.io/lepetitfablabdeparis">
        <img src="{{ site.baseurl }}static/img/fabcity.png" class="">
      </a>
    </div>
    <div class="col-xs-3 avatar2">
      <a class="" target="_blank" href="https://www.youtube.com/channel/UCC49TAOjLe8Qi3zWV7XQ-Dw">
        <img src="{{ site.baseurl }}static/img/youtube.png" class="">
      </a>
    </div>

  </div>
</div>
<hr>
