.main.outer{padding-top: 50px;}
.header-panel.shadow-z-2 {
  background-color: #4F4F4F;
  padding: 30px 0 15px 0;
  width: 100%;
}
.full{ font-size: 16px; }
.logo-img {
  width: 84px;
  height: 84px;
  border-radius: 0;
  margin: 0 auto;
}
.logo-turner {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
}
.row-content{
  vertical-align: top;
}
.row-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.row-details {
  display: inline-block;
  vertical-align: middle;
  color: #F0E0F0;
}
p.info {
  color: #fff;
}
p.info a {
  color: #fff;
  text-decoration: underline;
}
.full ul,.full ol {
  margin-left: 15px;
}
.full img{
  display: block;
  max-width: 100%;
  height: auto;
}
.social-icons {
  margin: 14px 0 0;
}
.icon {
  background: rgba(255, 255, 255, 0.0);
  border-radius: 0;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  color: #F0E0F0;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.icon:hover {
  color: #DB29DF;
  /*background: #FBE028;*/
}
.menu ul li {
  list-style: none;
  margin: 5px 0;
  background: #4F4F4F;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
  background: #9C9C9C;
}
li.current-menu-item:before {
  content: "";
  display: inline-block;
  height: 55px;
  width: 5px;
  position: absolute;
  left: 9px;
  vertical-align: middle;
  background: #DB29DF;
}
.menu ul li a {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0 0 0 10px;
  color: #fff;
}
.home-subtitle {
  font-size: 26px;
  margin-bottom: 32px;
  margin-top: 5px;
  color: #01c87b;
  font-weight: 300;
}
h2.blog-title-pro{
  color: #fff;
  font-family: "brain_flowerregular";
  font-size: 4em;
  font-weight: 200;
}
h2.blog-title-pro:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  margin-top: 16px;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.72);
}
span.tags{ margin: 0 2px;cursor: pointer;display: inline-block;}
.card .card-image .card-image-headline-custom{
  position: absolute;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 0 12px;
  color: #fff;
  font-size: 2em;
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
  margin: 0 !important;
  position: relative;
  bottom: 25px;
  width: auto;
}
#filters {
  margin: 0 0 25px 0;
}
.list-separator li > a i{
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
}
.error {
  color: #EF7272!important;
  font-size: 12px!important;
}
#portfolio-filter {
  margin-top: 50px;
}
.navbar-toggle i {
  color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
  color:#fff!important;
}
@media (max-width: 768px) {
  #portfolio-filter {
    margin-top: 0px;
  }
}
footer {
  border-top: 1px solid #C5C0C0;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  color: #444444;
  font-size: 11px;
  bottom: 0;
  padding-bottom: 10px;
}
.pager li.active a {
  background: rgba(89, 148, 129, 0.3);
}
.leafmap {
  position:absolute;
  top:0;
  bottom:0;
  height: 420px;
  width: 100%;
}
#mly {
  width: 100%;
  height: 400px;
}
.avatar2 img {
  display: block;
  height: 80px;
  border-radius: 100%;
  border: 3px solid #F5F1F1;
  margin-left: auto;
  margin-right: auto;
}
.finger a {
  cursor: pointer;
}
.postdate {
  text-align: right;
  color: #28292B;
  font-size: 1em;
  font-weight: 400;
}
.com_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  margin-right: auto;
  margin-left: auto;
}
.com_title {
  color: #444444;
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}
.tile_com {
  margin-top: 1.8em;
  font-size: 2.5rem;
  /*text-transform: uppercase;*/
  /* lines in headline */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h3.tile_com::after {
  content: '\a0';
  position: relative;
  top: 1.3rem;
  height: 2px;
  background: #474646;
  flex-grow: 1;
}
.clickable-header {
  cursor:pointer;
}
/*.clickable-header:hover {
  text-decoration:underline;
}*/

/*.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
}*/
/* Custome Sprites for mapping and mapillary */

.marker-red,
.marker-blue,
.pkey-sbig,
.pkey,
.pkey-a,
.pkey-hl,
.pkey-hls

{ display: inline-block;
  background: url('https://raw.githubusercontent.com/RobyRemzy/robyremzy.github.io/master/images/carto/sprites_mix.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
  text-align: left; }

.marker-red { background-position: -1px -0px; width: 52px; height: 70px; }
.marker-blue { background-position: -1px -213px; width: 37px; height: 50px; }
.pkey-sbig { background-position: -1px -264px; width: 26px; height: 33px; }
.pkey { background-position: -28px -264px; width: 18px; height: 24px; }
.pkey-a { background-position: -28px -289px; width: 18px; height: 26px; }
.pkey-hl { background-position: -1px -71px; width: 52px; height: 70px; }
.pkey-hls { background-position: -1px -142px; width: 52px; height: 70px; }

.myfront {
  padding-top: 60px;
  padding-bottom: 18px;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: center;
}
.bckgr {
  background-color: rgba(0, 0, 0, 0.3);
}
h1.slick{
  color: #fff;
  font-family: "brain_flowerregular";
  font-size: 5em;
  font-weight: 200;
}
.slick a:hover {
  text-decoration: none;
}
#avatar {
  height: 220px;
  border-radius: 100%;
  border: 5px solid white;
  margin-bottom: 18px;
}

.clean ul {
  list-style: none;
  padding: 0;
}
.clean li {
  border-radius: 100%;
  border: 2px solid white;
  color: white;
  margin: 8px;
  display: inline-block;
  list-style: none;
  width: 65px;
  height: 65px;
}
.clean li:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.clean a {
  color: #F90B6F;
  padding: 15px;
  text-decoration: none;
}
.description {
  display: none;
}

@media (max-width: 450px) {
  .clean ul {
    text-align: center;
  }
  .clean li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
  }
  .clean li:hover {
    background-color: none;
    transition: none;
  }
  .clean a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: #F90B6F;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
  }
  .clean a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
  }
}
